<% title='signup' %>



    <div class="container ">

        <h1 class="text-center" id="signup">signup</h1>

        <% if (message) { %>
            <div style="color: red;">
              <ul>
               
                  <li><%= message %></li>
             
              </ul>
            </div>
          <% } %>
          <% if (error) { %>
            <div style="color: red;">
              <ul>
                <% Object.values(error).forEach(err => { %>
                  <li><%= err.message %></li>
                <% }); %>
              </ul>
            </div>
          <% } %>

        <form action="/signup" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"> <br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword"><br>
            <button type="submit" class="  btn btn-danger"> Sign Up</button>
        </form>

    </div>